.c1 {
	background-color: #F1F100;
}

.c2 {
	background-color: #F11200;	
}

.c3 {
	background-color: #A1F1C0;
}

.c4 {
	background-color: #F12F0C;
}

.c5 {
	background-color: #23F100;
}

.c6 {
	background-color: #F17653;
}

.c7 {
	background-color: #A2F220;
}

.c8 {
	background-color: #11F222;
}

.c9 {
	
}

.c10 {
	
}

.c11 {
	
}

.c12 {
	
}

