{% extends 'base.html' %}

{% block header %}
    <h2>Sökresultat för "{{ query }}"</h2>
{% endblock %}

{% block content %}
        {% if query %}
            {% for result in page.object_list %}
                <p>
                    <a href="/{{result.object.id}}/">{{ result.object.name }}</a>
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            <p>Använd sökfältet i menyn för att söka efter visor</p>
        {% endif %}
{% endblock %}